@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "BoxOffice Administrative Interface";
}

@section js {
<script type="text/javascript" src="@Url.Content("~/Content/admin.js")"></script>
}

<h2>Dashboard</h2>

@Html.Partial("MovieOfTheWeekPartial");

@Html.Partial("HotMoviesPartial");

<section id="flaggedCommentsSection"></section>