@model BoxOffice.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<section id="movies">
    <h3>Movies</h3>
    @foreach (var item in Model.Movies.ToList())
    {
        <section class="tile">
            <div class="tileContent">
                <div class="tileText">
                    <img class="tilePic" src="@item.Images.First().Url"/>
                    <a class="tileDescription" href="@Url.Action("Details", "Movies", new { id = item.MovieID })">@item.Name</a>
                </div>
                <!-- tile text -->
            </div>
            <!-- tileContent -->
        </section>
}
</section>