@model IEnumerable<BoxOffice.Models.Category>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $("#genres").addClass("selected");
</script>

@foreach (var item in Model)
{
    <section class="tile">
        <div class="tileContent">
            <div class="tileText">
                <a href="@Url.Action( "Details" , "Genres" , new { id = item.CategoryID})>@item.Name</a>
            </div>
            <!-- tile text -->
        </div>
        <!-- tileContent -->
    </section>
}
