<ul>
    <li> <a href="@Url.Action("Genres")" id="byGenreLink">By Genre</a> </li>
    <li> <a href="@Url.Action("AddMovie")" id="addMovieLink">Add Movie</a></li>
    <li> <a href="@Url.Action("RemoveMovie")" id="removeMovieLink">Remove Movie</a></li>
</ul>