@using BoxOffice.Models
@{
    var hotMovies = ViewData["hotMovies"] as List<Movie>;
    var page = ViewData["page"] as string;
}
<section id="hotMoviesSection">
    
    <p>Hot Movies</p>
    
    @if (hotMovies != null)
    {
        foreach (var item in hotMovies)
        {
            var imgs = item.Images.ToList();
        
        <section class="tile">
            <div class="tileContent">
                <img class="tilePic" src="@imgs[0].Url" />
                <div class="tileText">                    
                    <p class="tileDescription">@Html.Display(item.Name)</p>
                </div>
                <!-- tile text -->
            </div>
            <!-- tileContent -->
        </section>
        }
    }
    else
    {
        if (page.Equals("admin"))
        {
                    <p>There are no movies rented at present.<br /> I suggest you get some users!</p>
        }
        else if (page.Equals("home"))
        {
            <p>Nobody rented a movie :(<br />You could be the first!</p>
        }
    }

</section>
