@using BoxOffice.Models
@{
    var hotMovies = ViewData["hotMovies"] as List<Movie>;
    var page = ViewData["page"] as string;
}
@if (hotMovies != null)
{
    <section id="hotMoviesSection">
        <h3>Hot Movies</h3>
        @foreach (var item in hotMovies)
        {        
            <section class="tile">
                <div class="tileContent">
                    @Html.Partial(partialViewName: "_TilePicPartial", model:item)
                    <div class="tileText">
                        <p class="tileDescription">@Html.ActionLink(item.Name, "Details", new { controller = "Movies", id = item.MovieID })
                        </p>
                    </div>
                    <!-- tile text -->
                </div>
                <!-- tileContent -->
            </section>
        }
    </section>
}
else
{
    <section id="hotMoviesSection">
        <h3>Hot Movies</h3>
        @if (page.Equals("admin"))
        {
            <p>
                There are no movies rented at present.<br />
                I suggest you get some users!
            </p>
        }
        else if (page.Equals("home"))
        {
            <p>
                Nobody rented a movie :(<br />
                You could be the first!
            </p>
        }
    </section>
}
