/* Mixins */
/* Variablen */
* {
  margin: 0;
  padding: 0;
  outline: 0; }

body {
  background: linear-gradient(top, #063559, #0d5a7f) no-repeat;
  background-color: #0d5a7f !important;
  color: white;
  font-family: museo-sans;
  font-size: 12pt;
  font-weight: 300; }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
  color: #ff0000; }

.field-validation-valid {
  display: none; }

.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee; }

.validation-summary-errors {
  font-weight: bold;
  color: #ff0000; }

.validation-summary-valid {
  display: none; }
