/* Mixins */
/* Variablen */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ajax login/registration dialog */
.modal-popup {
  font-size: 0.7em; }

.modal-popup input[type="text"],
.modal-popup input[type="password"] {
  width: 90%; }

body {
  background: #87e0fd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #063559 0%, #0d5a7f 100%) no-repeat;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #063559), color-stop(100%, #0d5a7f)) no-repeat;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #063559 0%, #0d5a7f) no-repeat;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #063559 0%, #0d5a7f 100%) no-repeat;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #063559 0%, #0d5a7f 100%) no-repeat;
  /* IE10+ */
  background: linear-gradient(top, #063559 0%, #0d5a7f 100%) no-repeat;
  /* W3C */
  background-color: #0d5a7f !important;
  color: rgba(250, 250, 250, 0.9);
  font-family: museo-sans;
  font-size: 1em;
  font-weight: 300;
  /* Inset text effect based on: */
  /* http://line25.com/articles/using-css-text-shadow-to-create-cool-text-effects */
  /* text-shadow: 0px 2px 3px #666; */
  /* pseudo anti-aliasing for fonts */
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
  body h1:not(#logo) {
    text-transform: lowercase; }
  body h2 {
    text-transform: lowercase; }
  body h3 {
    text-transform: lowercase; }
  body #logo {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 2em; }
  body #login {
    position: absolute;
    top: 25px;
    right: 25px;
    text-transform: lowercase; }
    body #login ul li {
      display: inline; }
      body #login ul li a {
        color: rgba(250, 250, 250, 0.9);
        font-family: museo-sans;
        font-size: 1.75em;
        font-weight: 500;
        /* Inset text effect based on: */
        /* http://line25.com/articles/using-css-text-shadow-to-create-cool-text-effects */
        /* text-shadow: 0px 2px 3px #666; */
        /* pseudo anti-aliasing for fonts */
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
        text-decoration: none;
        padding-left: 2em; }
  body header, body #body, body footer {
    width: 900px;
    margin: 0 auto; }
  body header {
    margin-top: 100px; }
  body nav {
    height: 50px; }
    body nav ul li {
      display: inline; }
      body nav ul li a {
        color: rgba(250, 250, 250, 0.9);
        font-family: museo-sans;
        font-size: 1.75em;
        font-weight: 500;
        /* Inset text effect based on: */
        /* http://line25.com/articles/using-css-text-shadow-to-create-cool-text-effects */
        /* text-shadow: 0px 2px 3px #666; */
        /* pseudo anti-aliasing for fonts */
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
        text-decoration: none;
        padding-left: 25px; }
      body nav ul li a:not(#search) {
        text-transform: lowercase; }
      body nav ul li .selected {
        color: rgba(255, 255, 255, 0.4); }
  body .hidden {
    visibility: hidden; }
  body .visible {
    visibility: visible; }
  body #searchField {
    opacity: 0;
    background-color: #063559;
    width: 18em;
    height: 4em;
    padding: 0.5em;
    position: absolute; }
    body #searchField input {
      margin: 0 auto; }
    body #searchField input[type=text] {
      margin-top: 5%;
      width: 12em; }
    body #searchField input[type=submit] {
      float: right; }
  body #body {
    padding-top: 15px; }
  body footer {
    color: rgba(250, 250, 250, 0.9);
    font-family: museo-sans;
    font-size: 0.75em;
    font-weight: 300;
    /* Inset text effect based on: */
    /* http://line25.com/articles/using-css-text-shadow-to-create-cool-text-effects */
    /* text-shadow: 0px 2px 3px #666; */
    /* pseudo anti-aliasing for fonts */
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    text-align: center; }

.tile .tileContent .tileText p, .tile .tileContent .tileText a {
  color: rgba(250, 250, 250, 0.9);
  font-family: museo-sans;
  font-size: 1.75em;
  font-weight: 300;
  /* Inset text effect based on: */
  /* http://line25.com/articles/using-css-text-shadow-to-create-cool-text-effects */
  /* text-shadow: 0px 2px 3px #666; */
  /* pseudo anti-aliasing for fonts */
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }
.tile .tileContent .tileText a {
  text-decoration: none; }

.metroList li {
  margin: 1em;
  list-style: none; }
  .metroList li a {
    color: rgba(250, 250, 250, 0.9);
    font-family: museo-sans;
    font-size: 1.75em;
    font-weight: 300;
    /* Inset text effect based on: */
    /* http://line25.com/articles/using-css-text-shadow-to-create-cool-text-effects */
    /* text-shadow: 0px 2px 3px #666; */
    /* pseudo anti-aliasing for fonts */
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    text-decoration: none; }

nav ul li a.first {
  padding-left: 0px; }

/* Dialog Styling
-----------------------------------------------------------*/
.ui-dialog-titlebar {
  text-transform: lowercase; }

.modal-popup .title h1 {
  display: none; }
.modal-popup #loginForm, .modal-popup #registerForm {
  padding-left: 7px; }
.modal-popup form {
  padding-top: 20px;
  font-family: museo-sans !important; }
  .modal-popup form ol {
    list-style: none; }
    .modal-popup form ol li {
      clear: both;
      padding-bottom: 30px; }
      .modal-popup form ol li label {
        width: 100px;
        float: left;
        text-transform: lowercase; }
      .modal-popup form ol li input {
        width: 400px !important;
        float: left;
        margin-left: 25px; }
        .modal-popup form ol li input[type="checkbox"] {
          width: 13px !important; }
      .modal-popup form ol li .field-validation-error span {
        position: relative;
        left: 0px;
        float: left;
        padding: 5px 0 10px 0;
        text-transform: lowercase; }
  .modal-popup form input {
    float: right; }

/* CSS Transitions
-----------------------------------------------------------*/
.masonry, .masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s; }

.masonry {
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width; }

.masonry .masonry-brick {
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left; }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
  color: #ff0000; }

.field-validation-valid {
  display: none; }

.input-validation-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee; }

.validation-summary-errors {
  font-weight: bold;
  color: #ff0000; }

.validation-summary-valid {
  display: none; }
