/* Variablen */
body {
  background-color: #0d5a7f !important;
  background-color: linear-gradient(top, #063559 0%, #0d5a7f 100%) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#063559', endColorstr='#0D5A7F',GradientType=0 ) no-repeat;
  /* IE6-8 */ }
