/* Mixins */
@mixin font($size, $color, $weight) {
	color: $color;
	font: {
		family: museo-sans;
		size: $size;
		weight: $weight;
	}
	/* Inset text effect based on: */
	/* http://line25.com/articles/using-css-text-shadow-to-create-cool-text-effects */
	text-shadow: 0px 2px 3px #666;
}

@mixin gradient($startColor, $endColor) {
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(top,  $startColor 0%, $endColor 100%) no-repeat; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$startColor), color-stop(100%,$endColor)) no-repeat; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $startColor 0%,$endColor) no-repeat; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $startColor 0%,$endColor 100%) no-repeat; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $startColor 0%,$endColor 100%) no-repeat; /* IE10+ */
	background: linear-gradient(top,  $startColor 0%,$endColor 100%) no-repeat; /* W3C */
}

/* Variablen */
$bgStart: #063559;
$bgEnd: #0D5A7F;

@font-face {
    font-family: "Erler-Dingbats";
    src: url("/Content/ErlerDingbats.ttf");
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	@include gradient($bgStart, $bgEnd);
	background-color: $bgEnd !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#063559', endColorstr='#0D5A7F',GradientType=0 ) no-repeat; /* IE6-8 */
	//color: white;
	@include font(12pt,rgba(250,250,250,0.9),300);

	#logo {
		position:absolute;
		top: 25px;
		left: 25px;
	}

	header, #body {
		width: 900px;
		margin: 0 auto;
	}

	header {
		margin-top: 100px;
	}

	nav {

		height: 50px;

		ul li{
			display: inline;
	
			a {
				@include font(14pt, rgba(250,250,250,0.9), 500);
				text-decoration: none;
				padding-left: 25px;
			}			
		}
	}
	
	#body {
		padding-top: 15px;
	}
}

nav ul li a.first {
			padding-left: 0px;
			}

/* CSS Transitions
-----------------------------------------------------------*/
@mixin transitionDuration ($duration) {
	-webkit-transition-duration: $duration;
     -moz-transition-duration: $duration;
       -o-transition-duration: $duration;
          transition-duration: $duration;
}

@mixin transitionProperty ($height, $width, $top, $right, $left) {
	@if $height == true {
		-webkit-transition-property: height;
		-moz-transition-property: height;
		-o-transition-property: height;
		transition-property: height;
	}

	@if $width == true {
		-webkit-transition-property: width;
		-moz-transition-property: width;
		-o-transition-property: width;
		transition-property: width;
	}

	@if $top == true {
		-webkit-transition-property: top;
		-moz-transition-property: top;
		-o-transition-property: top;
		transition-property: top;
	}
	
	@if $right == true {
		-webkit-transition-property: right;
		-moz-transition-property: right;
		-o-transition-property: right;
		transition-property: right;
	}

	@if $left == true {
		-webkit-transition-property: left;
		-moz-transition-property: left;
		-o-transition-property: left;
		transition-property: left;
	}
} 

.masonry, .masonry .masonry-brick {
	@include transitionDuration(0.7s);
}

.masonry {
	@include transitionProperty(true, true, false, false, false);
}

.masonry .masonry-brick {
	@include transitionProperty(false, false, true, true, true);
 }

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
