<ul id="subMenu">
    <li><a class="firstLink" href="@Url.Action(actionName: "Queue")" id="queueLink">Queue</a></li>
    <li><a href="@Url.Action(actionName: "Profile")" id="profileLink">Profile</a></li>
    <li><a href="@Url.Action(actionName: "Comments")" id="commentsLink">Comments</a></li>
    <li><a href="@Url.Action(actionName: "History")" id="historyLink">Rental History</a></li>
</ul>