/* Variablen */
$bgStart: #063559;
$bgEnd: #0D5A7F;

body {
	background-color: $bgEnd !important;
	background-color: linear-gradient(top,  $bgStart 0%, $bgEnd 100%) no-repeat; 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#063559', endColorstr='#0D5A7F',GradientType=0 ) no-repeat; /* IE6-8 */
}