/* Mixins */
@mixin font($size, $color, $weight) {
	color: $color;
	
	font: {
		family: museo-sans;
		size: $size;
		weight: $weight;
	}

	/* Inset text effect based on: */
	/* http://line25.com/articles/using-css-text-shadow-to-create-cool-text-effects */
	/* text-shadow: 0px 2px 3px #666; */
	
	/* pseudo anti-aliasing for fonts */
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

@mixin topGradient($startColor, $endColor) {
	background: #87e0fd; /* Old browsers */
	//background: -moz-linear-gradient(top, $startColor 0%, $endColor 100%) no-repeat; /* FF3.6+ */
	//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$startColor), color-stop(100%,$endColor)) no-repeat; /* Chrome,Safari4+ */
	//background: -webkit-linear-gradient(top, $startColor 0%,$endColor) no-repeat; /* Chrome10+,Safari5.1+ */
	//background: -o-linear-gradient(top, $startColor 0%,$endColor 100%) no-repeat; /* Opera 11.10+ */
	//background: -ms-linear-gradient(top, $startColor 0%,$endColor 100%) no-repeat; /* IE10+ */
	background: linear-gradient(top, $startColor 0%,$endColor 100%) no-repeat; /* W3C */
}

/* Variablen */
$bgStart: #063559;
$bgEnd: #0D5A7F;

* {
	margin: 0;
	padding: 0;
	outline: 0;
	//-moz-box-sizing: border-box;
	//-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* ajax login/registration dialog */
.modal-popup {
    font-size: 0.7em;
}

    .modal-popup input[type="text"],
    .modal-popup input[type="password"] {
        width: 90%;
    }


/* page style */
body {
	$pageWidth: 900px;
	@include topGradient($bgStart, $bgEnd);
	background-color: $bgEnd !important;
	
	//color: white;
	@include font(1em,rgba(250,250,250,0.9),300);

	h1:not(#logo) {
		text-transform: lowercase;
	}

	h2 {
		text-transform: lowercase;
	}

	h3 {
		text-transform: lowercase;
	}

	#logo {
		position:absolute;
		top: 25px;
		left: 25px;
		font-size: 2em;
	}

	#login {
		position: absolute;
		top: 25px;
		right: 25px;
		text-transform: lowercase;

		ul li{
			display: inline;
	
			a {
				@include font(1.75em, rgba(250,250,250,0.9), 500);
				text-decoration: none;
				padding-left: 2em;
			}
		}
	}

	header, #body, footer {
		width: $pageWidth;
		margin: 0 auto;
	}

	header {
		margin-top: 5em;
		height: 5em;
	}

	nav {

		height: 50px;

		ul li{
			display: inline;
	
			a {
				@include font(1.75em, rgba(250,250,250,0.9), 500);
				text-decoration: none;
				padding-left: 25px;
			}

			a:not(#search) {
				text-transform: lowercase;
			}
		}

		#subMenu {
			a {
				@include font(1.5em, rgba(250,250,250,0.9), 300);
				text-decoration: none;
				padding-left: 25px;
			}

			
		}
	}

	.hidden {
		visibility: hidden;
	}

	.visible {
		visibility: visible;
	}

	#searchField {
		opacity: 0;
		background-color: rgba(6, 53, 89, 1.0);
		width: 18em;
		height: 4em;
		padding: 0.5em;
		position: absolute;

		input {
			margin: 0 auto;
		}

		input[type=text] {
			margin-top: 5%;
			width: 12em;
		}
		
		input[type=submit] {
			float: right;
		}
	}
	
	#body {
		padding-top: 15px;

		h2 {
			font-weight: 500;
			margin-bottom: 0.5em;
		}
	}

	

	footer {
		@include font(0.75em, rgba(250,250,250,0.9), 300);
		text-align: center;
	}
}

.section {
	margin-left: 1em;
	margin-bottom: 2em;

	h3 {
		font-weight: 500;
		font-size: 1.25em;
		margin-bottom: 0.25em;
	}
}

#hotMoviesSection {
	height: 22em;
}

.tile {
	background: linear-gradient(left, $bgStart 0%,$bgEnd 100%) no-repeat;
	width: 13em;
	height: 6em;
	margin-bottom: 1em;

	.tileContent {
		padding: 0.5em;
		
		.tilePic {
				height: 5em;					
			}
								
		.tileText {
			display: inline;
			position: absolute;
			margin-left: 0.5em;
			width: 8em;
			height: 5em;

			p, a {
				@include font(0.9em, rgba(250,250,250,0.9), 300);
			}

			a {
				text-decoration: none;
			}
		}
	}
}

#movieArea{
	img {
		width: 15em;
	}

	#infoArea {
		width: 35em;

		fieldset {
			border: none;

			legend {
				text-transform: lowercase;
				margin: 0.5em;
				padding-bottom: 0.5em;
				font-weight: 500;
			}

			label {
				margin: 1em;

				.rightish {
					margin-left: 5em;
				}
			}
		}

		#story {
			margin: 0.5em;

			div {
				margin-bottom: 0.5em;
				margin-top: 1em;

				label {
					text-transform: lowercase;
				}

				p {
					margin-left: 1em;
					margin-top: 0.5em;
					font-weight: 100;
				}
			}
		}

		#actions {
			width: 25em;
			margin: 0 auto;
			height: 4em;

			div {
				margin: 0 auto;
				width: 23em;
				top: 0.6em;
				position: relative;
			}
		}

		#comments {
			margin: 0.5em;

			label {
				text-transform: lowercase;
			}

			.comment {
				margin-left: 1em;
				margin-bottom: 1em;

				label {
					font-weight: 100;
				}

				p {
					font-weight: 500;
				}
			}
		}
	}
}

.metroList {
	li {
		margin: 1em;
		list-style: none;
			
		a {
			@include font(1.75em, rgba(250,250,250,0.9), 300);
			text-decoration: none;
		}
	}
}

/* HELPERS */
.link {
	@include font(1.75em, rgba(250,250,250,0.9), 500);
				text-decoration: none;
}

.boxoffice {
	text-transform: none;
}

.selected {
	color: rgba(255, 255, 255, 0.4) !important;
}

.container {
	position: absolute;
}

nav ul li a.first {
	padding-left: 0px;
}

/* Dialog Styling
-----------------------------------------------------------*/
.ui-dialog-titlebar {
	text-transform: lowercase;
}

.modal-popup {

	.title h1 {
		display: none;
	}

	#loginForm, #registerForm {
		padding-left: 7px;
	}

	form {
		padding-top: 20px;
		font-family: museo-sans !important;
		
		ol {
			list-style: none;

			li {
				clear: both;
				padding-bottom: 30px;

				label {
					width: 100px;
					float: left;
					text-transform: lowercase;
				}

				input {
					width: 400px !important;
					float:left;
					margin-left: 25px;

					&[type="checkbox"] {
						width: 13px !important;
					}
				}

				.field-validation-error span {
					position: relative;
					left: 0px;
					float: left;
					padding: 5px 0 10px 0;
					text-transform: lowercase;
				}
			}
		}

		input {
			float: right;
		}
	}
}

/* CSS Transitions
-----------------------------------------------------------*/
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
