@model IEnumerable<BoxOffice.Models.Category>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $("#genres").addClass("selected");
</script>

<ul class="metroList">
    @foreach (var item in Model.OrderBy(g => g.Name))
    {
        <li>@Html.ActionLink(item.Name, "Details", new { id = item.CategoryID })</li>
    }
</ul>

